extends ../layout

block styles
  link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.css')
  style.
    body {
      padding-top: 60px;
    }
    .center {
      margin: 0 auto;
      float: none;
    }
    span.divider {
      display: inline-block;
      width: 5px;
    }

block body
  include ../partials/topbar

  .container
    .row
      .col-sm-8.center
        .panel.panel-default
          .panel-heading
            h3(class='panel-title') 單筆訂單
          form(class='form-horizontal', role='form', method='post', action='')
            .panel-body
              
                //- input(type='hidden', name='_csrf', value=_csrf, id='_csrf')
                .form-group
                  label(for='orderNo', class='col-sm-2 control-label') 訂單編號
                  .col-sm-6
                    p(class='form-control-static', id='orderNo') #{order.orderNo}
                .form-group
                  label(for='fbId', class='col-sm-2 control-label') Facebook Id
                  .col-sm-6
                    p(class='form-control-static', id='fbId') #{order.fbid}
                .form-group
                  label(for='contactName', class='col-sm-2 control-label') 訂購人
                  .col-sm-6
                    p(class='form-control-static', id='contactName') #{order.contactName}
                .form-group
                  label(for='contactBirthday', class='col-sm-2 control-label ') 生日
                  .col-sm-6
                    p(class='form-control-static', id='contactBirthday') #{order.contactBirthday}
                .form-group
                  label(for='contactPhone', class='col-sm-2 control-label ') 手機
                  .col-sm-6
                    p(class='form-control-static', id='contactPhone') #{order.contactPhone}
                .form-group
                  label(for='contactEmail', class='col-sm-2 control-label ') 電子郵件
                  .col-sm-6
                    p(class='form-control-static', id='contactEmail') #{order.contactEmail}
                .form-group
                  label(for='delivery', class='col-sm-2 control-label') 配送方式
                  .col-sm-6
                    p(class='form-control-static', id='delivery')
                      case order.delivery
                        when 1
                          | 現場領取
                        when 2
                          | 宅配
                if order.delivery === 2
                  .form-group
                    label(for='contactAddress', class='col-sm-2 control-label ') 宅配地址
                    .col-sm-6
                      p(class='form-control-static', id='contactAddress') #{order.contactAddress.zipCode} #{order.contactAddress.address}
                .form-group
                  label(for='commodity', class='col-sm-2 control-label') 商品資料
                  .col-sm-6
                    p(class='form-control-static', id='commodity') #{order.commodity.name} x #{order.commodity.quantity}
                if (order.registrationData)
                  - var dataCount = 0
                  each regData in order.registrationData
                    .form-group
                      if dataCount === 0
                        label(for='', class='col-sm-2 control-label') 報名資料
                      else
                        .col-sm-2.control-label
                      .col-sm-6
                        - itemCount = 0
                        each item in regData
                          p(class='form-control-static') #{event.registrationData[itemCount].name}：#{item}
                          - itemCount++
                      - dataCount++
                .form-group
                  label(for='paymentStatus', class='col-sm-2 control-label') 付款狀態
                  .col-sm-6
                    p(class='form-control-static', id='paymentStatus')
                      case order.paymentStatus
                        when 1
                          span(class='label label-danger') 未繳費
                        when 2
                          span(class='label label-success') 已繳費
                        when 3
                          span(class='label label-info') 逾期繳費
                        when 4
                          span(class='label label-danger') 刷卡授權失敗
                        when 5
                          span(class='label label-warning') 退費
                .form-group
                  label(for='expressStauts', class='col-sm-2 control-label') 物流處理進度
                  .col-sm-6
                    p(class='form-control-static', id='expressStauts')
                      case order.expressStauts
                        when 1
                          span(class='label label-default') 未處理
                        when 2
                          span(class='label label-warning') 處理中
                        when 3
                          span(class='label label-success') 已寄送
                .form-group
                  label(for='trackingNumber', class='col-sm-2 control-label') 配送單號
                  .col-sm-6
                    p(class='form-control-static', id='trackingNumber') #{order.trackingNumber}
          .panel-footer.text-right
            a(href='/member/orderlist/#{order.fbid}', class='btn btn-success') 返回

block javascript
  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery.ui.datepicker-zh-TW.js')
  script.
    $(function() {
      $('.datepicker').datepicker();
    });