extends ../layout

block styles
  style.
    body {
      overflow-x: hidden;
      background-color: #080605;
    }
    .video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; } .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
    .container {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
    .footer {
      width: 100%;
      margin: 0 auto;
      background: #000;
      padding-bottom: 5rem;
    }
    .footer .body {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      color: white;
      width: 960px;
      margin: 0 auto;
    }
    .footer .body  img {
      margin: 5px;
    }
    .linear {
      width: 100%;
      height: 5rem;
      position: relative;
      top: -5rem;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); 
    }
    .content {
      width: 100%;
      height: auto;
      overflow: hidden;
      background: url('/images/main-bg.png');
      background-size: 100% 100%;
      background-repeat: repeat-y;
      text-align: center;
      color: white;
    }
    .content .title {
      background:linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.1), rgba(0,0,0,0));
      background:-moz-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.1), rgba(0,0,0,0));
      background:-webkit-linear-gradient(top,rgba(0,0,0,1),rgba(0,0,0,0.1), rgba(0,0,0,0));
      width: 100%;
    }
    .tab {
      display: none;
      width: 720px;
      margin: 0 auto;
    }
    .tab hr {
      border:0; 
      width: 80%;
      height:1px; 
      background-color: rgba(255, 255, 255, 0.3);
      transation: all 1s linear 2s;
    }
    .tab h3 {
      text-shadow: 0 0 20px red;
    }
    .tab h4, .tab h5, .yello-word {
      color: #cabf3b;
    }
    .tab h4.flow {
      margin-left: 3rem;
      display: inline-block;
    }
    .tab h4.flow + div {
      margin-left: 4rem;
      width: 50%;
    }
    .tab .mb1 li {
      margin-bottom: 2rem;
      display: inline-block;
    }
    .tab p {
      color: #ddd;
      line-height: 1.8rem;
      font-weight: 500;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
    }
    .tab .paragraph {
      width: 60%;
      margin: 0 auto;
      text-align: left;
    }
    .tab .paragraph.w60 {
      width: 60%;
    }
    .tab .paragraph.w40 {
      width: 40%;
    }
    .tab .paragraph.w30 {
      width: 30%;
    }
    .tab .paragraph.w25 {
      width: 25%;
    }
    .tab .paragraph.w20 {
      width: 20%;
    }
    .tab.active {
      display: block;
    }
    .ml {
      margin-left: 10px;
    }
    a.buy {
      display: block;
      width: 366px;
      height: 106px;
      background: url('/images/btn-buy.png');
      background-repeat: no-repeat;
      margin: 2rem auto 6rem auto;
    }
    a.buy:hover {
      background-position: 0 -106px;
    }
    ol {
      text-align: left;
      margin: 0 auto;
    }
    .gift-content {
      width: 60%;
      margin: 0 auto;
    }
    #flow {
      padding-left: 8rem;
      text-align: left;
    }
    #flow div h4 {
      width: 50%;
    }
    .news-block {
      width: 70%;
      margin: 5% auto;
      height: 60px;
      background: white;
    }
    @media screen and (max-width: 768px) {
      .content {
        width: 100%;
        height: auto;
        margin: 50% auto 0 auto;
        overflow: hidden;
        background: url('/images/main-bg.png');
        background-size: 100% 100%;
        background-repeat: repeat-y;
        text-align: center;
        color: white;
      }
      .content .title {
        background:linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.1), rgba(0,0,0,0));
        background:-moz-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.1), rgba(0,0,0,0));
        background:-webkit-linear-gradient(top,rgba(0,0,0,1),rgba(0,0,0,0.1), rgba(0,0,0,0));
        width: 100%;
        text-align: center;
      }
      .content .title img {
        width: 300%;
        display: block;
        position: relative;
        left: -100%;
      }
      .tab {
        display: none;
        width: 90%;
        margin: 0 auto;
      }
      .tab hr {
        border:0; 
        width: 80%;
        height:1px; 
        background-color: rgba(255, 255, 255, 0.2);
        transation: all 1s linear 2s;
      }
      .tab h3 {
        text-shadow: 0 0 20px red;
      }
      .tab h4, .tab h5, .yello-word {
        color: #cabf3b;
      }
      .tab p {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
      }
      .tab.active {
        display: block;
      }
      .ml {
        margin-left: 10px;
      }
      a.buy {
        display: block;
        width: 188px;
        height: 53px;
        background: url('/images/btn-buy.png');
        background-repeat: no-repeat;
        background-size: 188px 106px;
        margin: 2rem auto 6rem auto;
      }
      a.buy:hover {
        background-position: 0 -53px;
      }
      a.tab-menu {
        display: block;
        width: 100%;
        height: 100%;

      }
      .footer {
        position: relative;
        top: 0;
        height: auto;
      }
      .footer .body {
        color: white;
        width: 70%;
        margin: 0 auto;
      }
      #flow div h4 {
        margin-top: 3rem;
        width: 50%;
      }
    }
block body
  include ../partials/nav
  .container
    .content
      .title
        img(src='/images/about.png', class='title')
      .tab.news(id='news', name='news')
        .news-block

      .tab.about(id='about', name='about')
        hr
        h3 
          img(src='/images/star.png')
          |  活動介紹
        hr
        img(src='/images/ca-poster.jpg', class='img-responsive', style='width:48%; margin:0 auto;box-shadow:0 0 20px #fff;margin-bottom:1rem;')
        .paragraph
          p 自從上次復仇者聯盟在紐約大戰之後，美國隊長(史蒂芬·羅傑斯)正式加入神盾局。
          p 作為最強悍的後盾，沒想到好景不長，在現今的華盛頓特區遇到一名強大且神出鬼沒的敵人。
          p 對手竟是昔日的戰友，今日他化身
            span(class='yello-word') 「酷寒戰士」
            | 。
          p 我們代表神盾局在此招募各位戰士，將會透過以下訓練讓你們成為一名優秀的神盾局探員，協助美國隊長與其他英雄們執行任務，你/妳準備好了嗎？
        hr
        h3 
          img(src='/images/star.png')
          |  活動資訊
        hr
        .paragraph.w40
          p 活動時間：
            span(class='yello-word') 3/23 早上06:00 ~ 上午11:30
          p 活動地點：
            span(class='yello-word') 臺北馬場町紀念公園
          p 活動總長：
            span(class='yello-word') 5 KM
        hr
        h3 
          img(src='/images/star.png')
          |  美國隊長2酷寒戰士 官方預告
        hr
        .video-container
          iframe(width="560", height="315", src="//www.youtube.com/embed/8DDZ6OKRQJs", frameborder="0", allowfullscreen)
        hr
        h3 
          img(src='/images/star.png')
          |  補充說明
        hr
        .paragraph.w60
          ol.list-unstyled(style='list-style-type:upper-alpha')
            li 因天氣等不抗力因素致使活動必須臨時有所調整變動時，主辦單位將以安全第一為基本原則而採行緊急的應變措施。而若因此造成任何不便時，敬請諒解。
            li 因天氣等不可抗力因素或受其他安全考量等因素所迫，大會得調整活動內容，甚至將活動延期或取消，相關公告將在前一天下午6:00在網站公告。
            li 大會有權將此項比賽之錄影、相片及成績，於世界各地播放、展出或登載於主辦單位網站及刊物上，參賽者必須同意肖像及公布成績，用於比賽相關之宣傳活動上。
            li 本活動如有任何變更或補充事項，將隨時公佈於大會活動網站（網址http://captainamericarun.com）並以大會公告為準。

        a(href=req.isAuthenticated() ? '/term/52d4901307f3c3b70204cf74' : '/auth/facebook', class='buy')
        
      .tab.how(id='how',name='how')
        hr
        h3 
          img(src='/images/star.png')
          |  活動規則
        hr
        .paragraph
          p 凡是購買美國隊長2酷寒戰士電影禮品包的民眾，憑著號碼布即可在3/23(日)當日，參加我們精心規劃的 Captain America Run 神盾局探員招募測驗。
        hr
        h3 
          img(src='/images/star.png')
          |  體能測驗說明
        hr
        p 欲加入神盾局的報名者，須完成5公里的跑步測驗，
          br 
          | 並適用專屬APP程式一起克服途中的關卡測驗，
          br 
          | 完成挑戰就有機會成為神盾局的神祕探員。
          br 
          | WE WANT YOU
        hr
        h3 
          img(src='/images/star.png')
          |  限量禮物包介紹及販售時間
        hr
        img(src='/images/gift.png', style='width: 100%')
        hr
        .gift-content
          ol.list-unstyled
            li(style='margin-bottom:1rem;') A. Marvel官方美國隊長限量禮品包內容
              ol
                li 美國隊長2酷寒戰士電影票 * 1 (市價310元)
                li 神盾局專屬紀念T恤 * 1 (市價699元)
                li 美國隊長盾牌鑰匙圈 * 1 (市價320元)
                li 美國隊長運動水壺 * 1（市價450元）
                li 美國隊長盾牌束口背包 * 1（市價390元）
                li 活動參賽號碼布 * 1
            li(style='margin-bottom:1rem;') B. 販售時間
              ol
                li 第一階段販售-2014/1/18中午12點～2014/1/24中午12點
                li 第二階段販售-2014/1/29中午12點～2014/2/5 中午12點
            li(style='margin-bottom:1rem;') C. 售價：新臺幣1280元整 (市價超過2100元)
            li(style='margin-bottom:1rem;') D. 限量禮品包數量：12,000份


        hr
        h3 
          img(src='/images/star.png')
          |  領取方式
        hr
        .gift-content
          ol.list-unstyled.mb1
            li  
              span(class='yello-word') A. 宅配報到領取
              ol.list-unstyled
                li 郵寄代理報到費請於報名時與報名費一同繳交。團體因人數不同另有標準，大會將於活動7日前寄出至報名時所填地址，請務必填寫正確的郵寄地址及收件人姓名，以免包裹無法寄達。
                li
                  table(class='table table-bordered')
                    tr
                      td 人數
                      td 1~5人
                    tr
                      td 郵寄代理報到費
                      td 150元
            li 
              span(class='yello-word') B. 親自報到領取
              ol.list-unstyled
                li 3月20~22日AM 10:00~PM18:00領取地址：另行通知。事前領取時憑個人的身分證，即可在取物櫃檯領取禮品包即可。
            li 
              span(class='yello-word') C. 服裝尺寸、數量與網路登記資料不符者，恕不予以更換。
        

        a(href=req.isAuthenticated() ? '/term/52d4901307f3c3b70204cf74' : '/auth/facebook', class='buy')

      .tab.when(id='when',name='when')
        hr
        h3 
          img(src='/images/star.png')
          |  活動流程
        hr
        .paragraph.w40
          p 活動時間：
            span(class='yello-word') 3/23 早上06:00 ~ 上午11:30
          p 活動地點：
            span(class='yello-word') 臺北馬場町紀念公園
          p 活動總長：
            span(class='yello-word') 5 KM
        hr
        img(src='/images/how-time.png')
        h3 06:00-06:30
        h4 跑者集合
        .paragraph.w20
          p 跑者集合
        hr
        h3 06:30-07:00
        h4 起跑準備
        .paragraph.w20
          p 在主持人/貴賓致辭後，會請熱舞老師來帶領大家做暖身操  
        hr
        h3 07:00-07:15
        h4 準備出發/迎戰
        .paragraph.w20
          p 跑著穿著神盾局專屬紀念服搭配號碼布分組出發，與你的戰友一起倒數迎戰
        hr
        h3 07:00-09:00
        h4 Captain America Run 
        .paragraph.w40
          p 帶上印有盾牌的背包，準備接受神盾局的考驗
        hr
        h3 09:00-11:30
        h4 完跑活動
        p 攤位活動/完跑活動
        hr
        h3 11:30
        h4 活動結束
        a(href=req.isAuthenticated() ? '/term/52d4901307f3c3b70204cf74' : '/auth/facebook', class='buy')

      .tab.where(id='where',name='where')
        hr
        h3 
          img(src='/images/star.png')
          |  交通資訊
        hr
        h4 活動地點：臺北馬場町紀念公園
        hr
        div
          img(src='/images/info-map.png', style='width: 100%')
        hr
        div
          img(src='/images/icon-official.png')
        p
          span(class='yello-word') A. 大會接駁車
        p 建議跑者搭乘大眾運輸系統至中正紀念堂站1號出口(2021南門市場站牌)
        p 轉搭大會接駁公車到達會場，時間為05:30- 07:30及10:30-12:30
        p 總共4小時，每時段不間斷接駁。
        hr
        div
          img(src='/images/icon-car.png')
        p
          span(class='yello-word') B. 自行開車前往
        p 建議從華中河濱公園之華中疏散門進入停放於華中露營區（計次：50元/次）
        p 或停放於青年公園地下停車場再步行進會場；
        p 騎乘機車前往者，建議停放於青年公園地下停車場或路邊機車停車格。
        hr
        div
          img(src='/images/icon-bus.png')
        p
          span(class='yello-word') C. 大眾運輸工具
        p 目前行駛於馬場町紀念公園周邊之公車有12、49、62、204、260、
        p 601、630、673、藍28至華中河濱公園站，或201、202、246、
        p 307、2021至果菜市場站或205、212、藍29、棕22至青年路下車即可達。

        a(href=req.isAuthenticated() ? '/term/52d4901307f3c3b70204cf74' : '/auth/facebook', class='buy')

      .tab.qna(id='qna',name='qna')
        hr
        h4 Q1：怎麼參加活動？
        hr
        p Captain America Run是贈送給每一位購買Marvel官方限量禮品包的民眾們
        p 如果您也想一起參與，請在禮品包販售期間訂購限量禮品包喔！

        hr
        h4 Q2：專業路跑與主題路跑或路跑派對的差異？
        hr
        p 專業路跑的周延性有其賽事性的特性，因此競賽的規則與獎勵、
        p 選手安全與保護規範、賽道的設計等都有專業人士進行規劃。
        p 相較於主題路跑或路跑派對，則以休閒娛樂為主，在競爭性上較不強調。
        
        hr
        h4 Q3：Captain America Run對於參加的安全有什麼特殊規畫?
        hr
        ol
          li 請參加民眾自行請攜帶IC健保卡及身份證明文件，選手如於比賽過程中感到身體不適，請立即停止比賽，活動當天若 有任何不適請即停止比賽以自身安全為重。大會工作人員或醫師有權視參與者體能狀況，中止參與者繼續比賽資格。 • 號碼布順序做為起跑順序，有效陸續分批讓參加者起跑出場，不至於因人數眾多而影響路跑品質。
          li 號碼布順序做為起跑順序，有效陸續分批讓參加者起跑出場，不至於因人數眾多而影響路跑品質。
          li 參加跑者請遵循大會規範的活動路線、交管措施及時間等安排，否則發生安全問題請自負。
          li 大會為參加活動之跑者投保「大會公共意外責任險」，保險範圍限活動期間與活動範圍內，承擔歸責於大會規劃及執行 所受之意外傷害的理賠。

        hr
        h4 Q4：報名Captain America Run的好處？
        hr
        p  報名完成後，將於賽前收到Marvel官方美國隊長限量禮品包，包括：美國隊長2酷寒戰士電影票*1 (市價310元)、神盾局專屬紀念T恤*1(市價699元)、美國隊長盾牌卡套*1(市價320元) 、美國隊長運動水壺*1（市價450元）、Marvel Logo紀念小方巾*1(市價250元) 、美國隊長盾牌束口背包*1（市價390元）、活動參賽號碼布； 除限量好禮外，現場還能體驗到Captain America 2電影元素，透過闖關的方式挑出神盾局的優秀探員，等妳一起來挑戰喔。
        hr
        h4 Q5：甚麼是宅配報到？
        hr
        p 在活動報名時，可選擇宅配報到方式及指定地點報到。選擇宅配報到時，在活動前將會收到商品包，即完成報到手續。如果在活動前一天尚未收到，請與主辦單位聯絡。

        hr
        h4 Q6：可以團體報名嗎？
        hr
        p 可以的。點選立即報名，即可選擇個人或團體報名喔，最多一組可以報名5個人，歡迎您的親朋好友一起報名，來接受神盾局的招募測驗，只要完成測驗就有機會成為優秀的神盾局探員。 報名前請先準備好每一位隊員的姓名/電話/Email才能快速地完成報名手續喔！

        hr
        h4 Q7：可否退費與退換貨？
        hr
        p  請點選右上方的『我要協助』裡的『退款說明』，若有問題請立即與我們聯繫，我們將會為您服務喔。

        hr
        h4 Q8：可以攜伴或寵物嗎?
        hr
        p  本次活動不開放攜伴或寵物報名，為了維護賽道的品質，以及廣大Captain America迷的權益，路跑當天務必攜帶「選手號碼布」及穿著大會紀念衫，大會將以此作為判別當日是否為選手的唯一證明，並請將「選手號碼布」別在胸前，才可以進入活動賽道喔。

        hr
        h4 Q9：當天可以打扮cosplay嗎?
        hr
        p  我們非常歡迎喜愛Captain America的民眾自行打扮，一起來參與本次的Captain America Run。

        hr
        h4 Q10：現場如果下雨怎麼辦?
        hr
        p 大會將會為每一位參賽者準備雨衣，如果已經開始下雨卻尚未領取到雨衣，請至服務櫃檯告知我們，我們會立即為您處理喔！

        hr
        h4 Q11：活動取消何時會通知?
        hr
        p 大會將會在活動前一天下午6:00前在官方的Facebook頁面及官方網站公佈最新的消息，請隨時關注我們的活動頁面喔。

        hr
        h4 Q12：我們家小朋友也想要參加可以嗎?
        hr
        p 當日活動因人潮眾多，不建議小孩子參加。但仍開放給身高110公分以下的孩童可以由一名成年參賽者陪同免費參加。未購票的孩童將不享有任何付費消費者的權利與商品。

        a(href=req.isAuthenticated() ? '/term/52d4901307f3c3b70204cf74' : '/auth/facebook', class='buy')

      .tab.flow(id='flow',name='flow')
        
        div.clearfix
          img(src='/images/icon-flow-1.png', class='pull-left')
          h4(class='pull-left flow') Step1-上網訂購禮品包
          div(class='pull-left')
            p 第一階段販售-1/20中午12點整至1/24中午12點截止
            p 第二階段販售-1/29 中午12點整至2/5中午12點截止
            p 在活動官網的訂購欄位填寫相關資料，選擇繳費方式後，在2日內完成繳費，即可完成訂購序。
        hr

        div.clearfix
          img(src='/images/icon-flow-2.png', class='pull-left')
          h4(class='pull-left flow') Step2-神盾局筆試測驗
          div(class='pull-left')
            p 所有參與者需至活動官網進行神盾局的筆試測驗，完成筆試後方可繼續進行神盾局的體能鑑測。
        hr

        div.clearfix
          img(src='/images/icon-flow-3.png', class='pull-left')
          h4(class='pull-left flow') Step3-活動禮品包送達
          div(class='pull-left')
            p 完成訂購程序後，選擇宅配寄送的購買這將于Captain America Run活動前一周
            p 寄送Marvel授權的精美活動禮品包。
            p 選擇現場取物的民眾則可以在指定時間與地點領取您的 Marvel 授權的精美活動禮品包。

        hr
        div.clearfix
          img(src='/images/icon-flow-4.png', class='pull-left')
          h4(class='pull-left flow') Step4-活動集合
          div(class='pull-left')
            p 3/23當日06:00AM在馬場町紀念公園集合 。
        hr
        div.clearfix
          img(src='/images/icon-flow-5.png', class='pull-left')  
          h4(class='pull-left flow') Step5-開幕儀式
          div(class='pull-left')
            p 06:30 AM活動準時開幕，由有氧老師帶動熱舞操。
        hr
        div.clearfix
          img(src='/images/icon-flow-6.png', class='pull-left')  
          h4(class='pull-left flow') Step6-活動開始
          div(class='pull-left')
            p 07:30所有參賽者就位，帶上印有盾牌的背包，準備接受神盾局的測試流程！
        hr
        div.clearfix
          img(src='/images/icon-flow-7.png', class='pull-left')  
          h4(class='pull-left flow') Step7-完跑領證
          div(class='pull-left')
            p 完跑後，可以在完跑點接受工作人員的授勳儀式，取得完跑證明。
        a(href=req.isAuthenticated() ? '/term/52d4901307f3c3b70204cf74' : '/auth/facebook', class='buy')
  include ../partials/footer
  

    
  .modal.fade#warningLogin
    .modal-dialog
      .modal-content
        .modal-header
          button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times;
          h4 提示
        .modal-body
          p 請先登入 Facebook 後進行報名。
  block javascript
  script(src='/js/vendor/perfect-scrollbar-with-mousewheel.min.js')
  script.
    $(function () {

      if (window.location.hash && window.location.hash === '#_=_') {
        // If you are using Modernizr, then the alternative is:
        //   `if (Modernizr.history) {`
        if (window.history && history.pushState) {
          window.history.pushState('', document.title, window.location.pathname);
        } else {
          // Prevent scrolling by storing the page's current scroll offset
          var scroll = {
            top: document.body.scrollTop,
            left: document.body.scrollLeft
          };
          window.location.hash = '';
          // Restore the scroll offset, should be flicker free
          document.body.scrollTop = scroll.top;
          document.body.scrollLeft = scroll.left;
        }
      }

      var hash = window.location.hash.slice(1);
      if (hash.length > 0) {
        $('.tab-menu').parent().removeClass('active');
        $('.tab-menu[href=#'+ hash + ']').parent().addClass('active');
        $('.tab').removeClass('active');
        var tabname = '.tab.' + hash;
        var path = '/images/' + hash + '.png';
        $(tabname).addClass('active');
        $('img.title').attr('src', path);
      } else {
        $('.tab-menu').parent().removeClass('active');
        $('.tab-menu[href=#about]').parent().addClass('active');
        $('.tab').removeClass('active');
        var tabname = '.tab.about';
        var path = '/images/' + 'about' + '.png';
        $(tabname).addClass('active');
        $('img.title').attr('src', path);

      }
      
      $('.tab-menu').on('click', function (e) {
        e.preventDefault();
        $('.tab-menu').parent().removeClass('active');
        $(this).parent().addClass('active');
        $('.tab').removeClass('active');
        var tabname = '.tab.' + $(this).attr('href').slice(7);
        var path = '/images/' + $(this).attr('href').slice(7) + '.png';
        $(tabname).addClass('active');
        $('img.title').attr('src', path);
        $("html, body").animate({scrollTop: $('.title').offset().top }, 500);
      });

      $('a.buy').on('click', function (e) {
        var href = $(this).attr('href');
        if (href.indexOf('facebook') != -1) {
          $('#warningLogin').modal('show');
          return false;
        }
      });
      $('#warningLogin').on('hidden.bs.modal', function (e) {
        $("html, body").animate({scrollTop: 0 }, 500);
      });

      $('.header-title').click(function () {
        $('.mobile-click').children('ul').hide();
      });
      $('.container').click(function () {
        $('.mobile-click').children('ul').hide();
      });

    });